version: '3.8'

services:
    db:
        platform: linux/arm64/v8
        image: mysql/mysql-server:8.0.23
        command: --lower_case_table_names=1
        ports:
            - 13306:3306
        environment:
            MYSQL_ROOT_PASSWORD: qwerty
            MYSQL_PASSWORD: qwerty
            MYSQL_DATABASE: symfoelik
            MYSQL_USER: dbuser

    web:
        build: .
        ports:
            - 80:80
        volumes:
            - .:/var/www/html
